*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
}

.app .down-arrow {
  position: absolute;
  bottom: 0;
  left: 50%;
  height: 5vh;
  transform: translateX(-50%);
  -webkit-animation-name: down-arrow;
          animation-name: down-arrow;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  transition: all 0.25s ease-in-out;
  width: 100%;
  cursor: pointer;
}
.app .down-arrow:hover {
  opacity: 0.6;
}
.app .red-background {
  background-color: #FF0032;
  height: 25.1vh;
  position: absolute;
  width: 100%;
  opacity: 0.6;
}
.app .purple-background {
  background: linear-gradient(#6F1AB6, #3D1766);
  height: 100vh;
  width: 100%;
  position: absolute;
  top: 0;
  opacity: 0.8;
}
.app .navbar {
  position: absolute;
  top: 0;
  width: 100%;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.app .navbar img {
  height: 5rem;
}
.app .navbar ul {
  display: flex;
  list-style: none;
  gap: 5vw;
}
.app .navbar ul li {
  transition: all 0.25s ease-in-out;
}
.app .navbar ul li a {
  color: white;
  text-decoration: none;
}
.app .navbar ul li:hover {
  scale: 1.2;
}
.app .hero {
  height: 100vh;
  width: 100%;
  font-family: "Lato", sans-serif;
  padding: 1rem;
  background-image: url("../assets/foto skolah.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
}
.app .hero .hero-text {
  position: absolute;
  top: 30vh;
  text-align: center;
}
.app .hero .hero-text p {
  color: #FFE7CC;
  opacity: 0.8;
}
.app .hero .hero-text h1 {
  color: #FFFBEB;
  font-size: 4rem;
}
.app .hero .hero-text h2 {
  color: #FFE7CC;
  opacity: 0.8;
}
.app .information {
  background-color: #FFFBEB;
  opacity: 0.8;
  background-image: radial-gradient(#FFE7CC 1.8px, #FFFBEB 1.8px);
  background-size: 36px 36px;
  padding: 1rem;
  -webkit-animation: information infinite 5s ease-in-out;
          animation: information infinite 5s ease-in-out;
}
.app .information div {
  font-family: "Lato", sans-serif;
  display: flex;
  flex-direction: column;
}
.app .information div div {
  height: 2px;
  width: 5rem;
  background-color: black;
  margin-bottom: 1rem;
}
.app .information div h3 {
  font-size: 2.5rem;
}
.app .information div p {
  font-size: 1.25rem;
}
.app .information hr {
  margin: 2rem 0;
  background-color: black;
  border-style: solid;
}
.app .information .misi {
  display: flex;
}
.app .information .misi h3 {
  text-align: end;
}
.app .information .misi div {
  margin-left: auto;
}
.app .information .misi p {
  text-align: end;
}
.app .members {
  display: flex;
  justify-content: center;
  padding: 1vh;
  font-family: "Lato", sans-serif;
  height: 25vh;
  flex-direction: column;
  align-items: center;
  gap: 10%;
  background-image: url("../assets/foto osis.JPG");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  color: #FFE7CC;
  -webkit-animation: member 25s infinite;
          animation: member 25s infinite;
}
.app .members .members-content {
  position: absolute;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.app .members button {
  width: 50vw;
  padding: 0.5rem;
  border: none;
  border-radius: 5px;
  transition: all 0.25s ease-in-out;
  cursor: pointer;
  font-size: 1.5rem;
}
.app .members button a {
  text-decoration: none;
  color: black;
}
.app .members button:hover {
  border-radius: 12px;
  scale: 1.1;
}
.app .tata-ibadah {
  background-color: #FFE7CC;
  opacity: 0.8;
  background-image: radial-gradient(#FFFBEB 1.8px, transparent 1.8px), radial-gradient(#FFFBEB 1.8px, #FFE7CC 1.8px);
  background-size: 72px 72px;
  background-position: 0 0, 36px 36px;
  font-family: "Lato", sans-serif;
  height: 25vh;
  display: flex;
  justify-content: center;
  padding: 1rem;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
.app .tata-ibadah button {
  width: 50vw;
  padding: 0.5rem;
  border: none;
  border-radius: 5px;
  transition: all 0.25s ease-in-out;
  cursor: pointer;
  font-size: 1.5rem;
}
.app .tata-ibadah a {
  text-decoration: none;
  color: black;
}
.app .tata-ibadah button:hover {
  border-radius: 12px;
  scale: 1.1;
}
.app footer {
  background-color: #333;
  display: flex;
  flex-direction: column;
  color: #FFE7CC;
  padding: 2.5rem;
  justify-content: space-between;
  gap: 2.5rem;
}
.app footer .navigations ul {
  list-style: none;
}
.app footer .navigations ul li {
  padding: 0.5rem 0;
}
.app footer .navigations ul li a {
  font-size: 1.5rem;
  color: #FFE7CC;
  text-decoration: none;
}
.app footer .navigations ul li a:hover {
  text-decoration: underline;
}
.app footer .map .map-content {
  width: 100%;
  height: 75vh;
}
.app .members-page {
  display: flex;
  flex-direction: column;
}
.app .members-page input {
  margin: 2.5rem 2.5rem 0 2.5rem;
  padding: 12px 18px;
  background-color: lightgray;
  border: none;
  border-radius: 8px;
}
.app .members-page input:focus {
  outline: none;
}
.app .members-page .members-container {
  justify-content: center;
  padding: 2.5rem 0;
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
}
.app .members-page .members-container .card {
  transition: all 0.25s ease-in-out;
  cursor: pointer;
  border-radius: 16px;
  box-shadow: 0 0 16px 1px rgba(0, 0, 0, 0.3);
}
.app .members-page .members-container .card .card-profile img {
  width: 15rem;
  -o-object-fit: cover;
     object-fit: cover;
  height: 20rem;
  border-radius: 16px 16px 0 0;
  transition: all 0.25s ease-in-out;
}
.app .members-page .members-container .card .card-information {
  padding: 0.5rem 1rem;
}
.app .members-page .members-container .card .card-information h1 {
  font-family: "Lato", sans-serif;
}
.app .members-page .members-container .card:hover {
  scale: 1.1;
  border-radius: 32px;
}
.app .members-page .members-container .card:hover .card-profile img {
  border-radius: 32px 32px 0 0;
}
.app .programs-page ul {
  padding: 1rem;
  display: flex;
  flex-direction: column;
}
.app .programs-page ul li {
  list-style: none;
}
.app .programs-page ul li button {
  width: 100%;
  padding: 1rem;
  cursor: pointer;
}
.app .programs-page ul li button a {
  text-decoration: none;
  color: black;
}
.app .lagu-bahasa-inggris-page {
  padding: 1rem;
}
.app .lagu-bahasa-inggris-page input {
  margin-bottom: 1rem;
  padding: 0.5rem 1rem;
  width: 100%;
  background-color: lightgray;
  border: none;
  border-radius: 8px;
}
.app .lagu-bahasa-inggris-page input:focus {
  outline: none;
}
.app .lagu-bahasa-inggris-page .lagu-container .song {
  background-color: lightgray;
  padding: 1rem;
  border-radius: 8px;
}
.app .lagu-bahasa-inggris-page .lagu-container .song h1 {
  color: #6F1AB6;
}
.app .lagu-bahasa-inggris-page .lagu-container .song p {
  color: #3D1766;
}
.app .lagu-bahasa-inggris-page .lagu-container .song .song-lyric {
  white-space: pre-line;
  margin-top: 1rem;
  line-height: 1.5rem;
}

@-webkit-keyframes down-arrow {
  to {
    margin-bottom: 0.5vh;
  }
}

@keyframes down-arrow {
  to {
    margin-bottom: 0.5vh;
  }
}
@-webkit-keyframes member {
  from {
    background-position: left;
  }
  to {
    background-position: right;
  }
}
@keyframes member {
  from {
    background-position: left;
  }
  to {
    background-position: right;
  }
}/*# sourceMappingURL=general.css.map */