// Colors

// 3D1766
// 6F1AB6
// FF0032
// CD0404
// FFFBEB
// FFE7CC

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: 'Roboto', sans-serif;
}

.app {
  
  .down-arrow {
    position: absolute;
    bottom: 0;
    left: 50%;
    height: 5vh;
    transform: translateX(-50%);
    animation-name: down-arrow;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    transition: all .25s ease-in-out;
    width: 100%;
    cursor: pointer;
  }

  .down-arrow:hover {
    opacity: .6;
  }

  .red-background {
    background-color: #FF0032;
    height: 25.1vh;
    position: absolute;
    width: 100%;
    opacity: .6;
  }

  .purple-background {
    background: linear-gradient(#6F1AB6, #3D1766);
    height: 100vh;
    width: 100%;
    position: absolute;
    top: 0;
    opacity: .8;
  }

  .navbar {
    position: absolute;
    top: 0;
    width: 100%;
    height: max-content;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    img {
      height: 2.5rem;
    }

    ul {
      display: flex;
      list-style: none;
      gap: 5vw;

      li {
        transition: all 0.25s ease-in-out;

        a {
          color: white;
          text-decoration: none;
        }
      }

      li:hover {
        scale: 1.2;
      }
    }
  }

  .hero {
    height: 100vh;
    width: 100%;
    font-family: 'Lato', sans-serif;
    padding: 1rem;
    background-image: url('../assets/foto\ skolah.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    justify-content: center;

    .hero-text {
      position: absolute;
      top: 30vh;
      text-align: center;

      p {
        color: #FFE7CC;
        opacity: .8;
      }

      h1 {
        color: #FFFBEB;
        font-size: 4rem;
      }
      
      h2 {
        color: #FFE7CC;
        opacity: .8;
      }
    }
  }

  .information {
    background-color: #FFFBEB;
    opacity: 0.8;
    background-image: radial-gradient(#FFE7CC 1.8px, #FFFBEB 1.8px);
    background-size: 36px 36px;
    padding: 1rem;

    animation: information infinite 5s ease-in-out;

    div {
      font-family: 'Lato', sans-serif;
      display: flex;
      flex-direction: column;

      div {
        height: 2px;
        width: 5rem;
        background-color: black;
        margin-bottom: 1rem;
      }

      h3 {
        font-size: 2.5rem;
      }

      p {
        font-size: 1.25rem;
      }
    }

    .visi {
    }

    hr {
      margin: 2rem 0;
      background-color: black;
      border-style: solid;
    }

    .misi {
      display: flex;
      
      h3 {
        text-align: end;
      }

      div {
        margin-left: auto;
      }
      
      ol {

        li {
          margin: 1rem;
          font-size: 1.5rem;
          padding-right: .5rem;

          p {
            font-size: 1rem;
          }
        }
      }
    }
  }

  .members {
    display: flex;
    justify-content: center;
    padding: 1vh;
    font-family: 'Lato', sans-serif;
    height: 25vh;
    flex-direction: column;
    align-items: center;
    gap: 10%;
    background-image: url('../assets/foto\ osis.JPG');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: #FFE7CC;
    animation: member 25s infinite;

    .members-content {
      position: absolute;
      text-align: center;
      display: flex;
      flex-direction: column;
      gap: 1rem;
    }

    button {
      width: 50vw;
      padding: .5rem;
      border: none;
      border-radius: 5px;
      transition: all .25s ease-in-out;
      cursor: pointer;
      font-size: 1.5rem;

      a {
        text-decoration: none;
        color: black;
      }
    }

    button:hover {
      border-radius: 12px;
      scale: 1.1;
    }
  }

  .tata-ibadah {
    background-color: #FFE7CC;
    opacity: 0.8;
    background-image:  radial-gradient(#FFFBEB 1.8px, transparent 1.8px), radial-gradient(#FFFBEB 1.8px, #FFE7CC 1.8px);
    background-size: 72px 72px;
    background-position: 0 0,36px 36px;
    font-family: "Lato", sans-serif;
    height: 25vh;
    display: flex;
    justify-content: center;
    padding: 1rem;
    flex-direction: column;
    align-items: center;
    gap: 1rem;

    button {
      width: 50vw;
      padding: .5rem;
      border: none;
      border-radius: 5px;
      transition: all .25s ease-in-out;
      cursor: pointer;
      font-size: 1.5rem;
    }

    a {
      text-decoration: none;
      color: black;
    }

    button:hover {
      border-radius: 12px;
      scale: 1.1;
    }

    text-align: center;
  }

  footer {
    background-color: #333;
    display: flex;
    flex-direction: column;
    color: #FFE7CC;
    padding: 2.5rem;
    justify-content: space-between;
    gap: 2.5rem;

    .navigations {

      ul {
        list-style: none;

        li {
          padding: .5rem 0;

          a {
            font-size: 1.5rem;
            color: #FFE7CC;
            text-decoration: none;
          }

          a:hover {
            text-decoration: underline;
          }
        }
      }
    }

    .map {
      .map-content {
        width: 100%;
        height: 75vh;
      }
    }
  }
  .members-page {
    display: flex;
    flex-direction: column;

    input {
      margin: 2.5rem 2.5rem 0 2.5rem;
      padding: 12px 18px;
      background-color: lightgray;
      border: none;
      border-radius: 8px;
    }

    input:focus {
      outline: none;
    }

    .members-container {
      justify-content: center;
      padding: 2.5rem 0;
      display: flex;
      flex-wrap: wrap;
      gap: 1.5rem;

      .card {
        transition: all .25s ease-in-out;
        cursor: pointer;
        border-radius: 16px;
        box-shadow: 0 0 16px 1px rgba(0, 0, 0, .3);
  
        .card-profile {
    
          img {
            min-width: 15rem;
            width: 100%;
            object-fit: cover;
            height: 20rem;
            border-radius: 16px 16px 0 0;
            transition: all .25s ease-in-out;
            object-position: top;
          }
        }
  
        .card-information {
          padding: .5rem 1rem;
  
          h1 {
            font-family: "Lato", sans-serif;
            font-size: 1.25rem;
          }
        }
      }
  
      .card:hover {
        scale: 1.1;
        border-radius: 32px;
  
        .card-profile {
          img {
            border-radius: 32px 32px 0 0;
          }
        }
      }
    }
  }

  .programs-page {

    ul {
      padding: 1rem;
      display: flex;
      flex-direction: column;
      li {
        padding: .5rem 0;
        list-style: none;
        button {
          width: 100%;
          padding: 1rem;
          cursor: pointer;

          a {
            text-decoration: none;
            color: black;
          }
        }
      }
    }
  }

  .lagu-bahasa-inggris-page {
    padding: 1rem;

    input {
      margin-bottom: 1rem;
      padding: .5rem 1rem;
      width: 100%;
      background-color: lightgray;
      border: none;
      border-radius: 8px;
    }

    input:focus {
      outline: none;
    }

    .lagu-container {

      .song {
        background-color: lightgray;
        padding: 1rem;
        border-radius: 8px;
        margin: 1rem 0;

        h1 {
          color: #6F1AB6;
        }

        p {
          color: #3D1766;
        }

        .song-lyric {
          white-space: pre-line;
          margin-top: 1rem;
          line-height: 1.5rem;
        }
      }
    }
  }
}



@keyframes down-arrow {
  to { margin-bottom: .5vh; }
}

@keyframes member {
  from {
    background-position: left;
  }
  to {
    background-position: right;
  }
}